/*
セレクタ { プロパティ名: 値; }
セレクタ {
  プロパティ名: 値;
  プロパティ名: 値;
}

* ユニバーサルセレクタ
要素名 p h1 div
#id
.class
*/

/* * { color: skyblue; } */
h1 { color: skyblue; }
#first { color: orange; }
.points { color: violet; }